
  <div class="wrapper">
      <div class="row">
          <div class="col-md-12">
            <p class="title">Amiti <span class="glyphicon glyphicon-menu-down menudown"></span>  
            <span class="glyphicon glyphicon-bell bell-icon"></span>    
            </p>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
              <p class="user">Ranjitha <span 
                style="background-image: url(https://a.slack-edge.com/c00d19/img/emoji_2017_12_06/sheet_google_64_indexed_256.png);
                background-position:49.01960784313726% 45.09803921568628%;background-size:5200% 5200%;"></span></p>
            </div>
          </div>
  </div>