li{
	list-style: none;
}
li, a, h1, h2, h3, h4, h5, h6, p{
	font-family: cursive;
}
ul{
	margin: 1rem;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: aliceblue;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 10px 18px;
	text-decoration: none;
	font-size: 20px;
	color: #000000;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #000000;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 26px;
	margin-left: 50px;
	
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	color: white;
	border: none;
	background: unset;
	padding: 10px;
}

#main {
	transition: margin-left .5s;
	background: rgb(38,0,39);
}

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}

	.sidebar a {
		font-size: 18px;
	}
}

.active{
	background-color: #e8eef3d9;
}

button:focus{
	outline: none;
}

