<div class="wrapper">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">Slackbot</h3>
        </div>
        <div class="col-md-12 changes">
          <span class="glyphicon glyphicon-star-empty"></span>
          <span class="glyphicon glyphicon-heart-empty">active</span>
          <span>Slackbot</span>
        </div>
      </div>
    </div>
    <div class="col-md-5 space-style">
      <span><img data-toggle="modal" data-target="#myPopup"
          src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/info-circle-outline-512.png" alt=""
          width="20"></span>
      <span><img src="https://image.flaticon.com/icons/svg/126/126472.svg" alt="" width="20"></span>
      <span>
        <form style="display: inline-block">
          <span class="glyphicon glyphicon-search search-icon"></span>
          <input type="text" name="search" id="search" placeholder="serach" class="search-input">
          <span><img src="https://i.ya-webdesign.com/images/instagram-icon-png-black-1.png" alt="" width="20"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </form>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Modal -->
      <div class="modal" id="myPopup" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">About this conversation</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>